<p style="color: green"><%= notice %></p>

<%= render @my_thread %>

<div>
  <%= link_to "スレッドを編集する", edit_my_thread_path(@my_thread) %> |
  <%= link_to "スレッド一覧に戻る", my_threads_path %>

  <%= button_to "スレッドを削除する", @my_thread, method: :delete %>
</div>
<div>
  <%= link_to "コメントを書く", new_comment_path %>
</div>